# File checks and analysis tools
.vscode
.ipynb_checkpoints
*.ipynb

# Reference crystals (from other sources, may be added later?)
reference_crystal
PotentialProperties
calculation_E_vs_r_scan
calculation_diatom_scan
calculation_isolated_atom